<div>
    <%= image_tag photo.user.profile_image %>
    <%= link_to photo.user.name, show_user_profile_path(photo.user.name) %> <br>
    <%= photo.location %> <br>
    <%= image_tag photo.image, size: '400x200' %><br>
    <%= photo.description %>
    <p>likes: no definido</p>
    <p>comments: no definido</p>
</div>