<% if user_signed_in? %>
    <h1>Estas son todas las fotos</h1>

    <% @photos.each do |photo| %>
        <div>
            <%= image_tag photo.user.profile_image %>
            <%= link_to photo.user.name, show_user_profile_path(photo.user.name) %> <br>
            <%= photo.location %> <br>
            <%= image_tag photo.image, size: '400x200' %><br>
            <%= photo.description %>
        </div>
    <% end %>
<% else %>
    <h1>Estos son los mejores fotografos</h1>

    <% @users.each do |user| %>
        <div>
            <%= image_tag user.profile_image %>
            <%= user.name %>
            <%= user.description %>
        </div>
    <% end %>
<% end %>