<% if user_signed_in? %>
    <% if current_user.my_follows.length < 1 %>
        <h1>Estas son 10 fotos random</h1>

        <% @photos.each do |photo| %>
            <%= render  "photo", photo: photo %>
        <% end %>
    <% else %>
        <h1>Estas son las ultimas 10 fotos tuyas y de tus amigos</h1>

        <% @photos.each do |photo| %>
            <%= render  "photo", photo: photo %>
        <% end %>
    <% end %>
<% else %>
    <h1>Estos son los mejores fotografos</h1>

    <% @users.each do |user| %>
        <div>
            <%= image_tag user.profile_image %>
            <%= user.name %>
            <%= user.description %>
        </div>
    <% end %>
<% end %>