<!DOCTYPE html>
<html>
  <head>
    <title>PhotoGallery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav>
    <%= link_to  "home", root_path %>

    <% if user_signed_in? %>
      <span>Bienvenido <%= current_user.name %></span>
      <%= link_to  "mi perfil", show_user_profile_path(current_user.name) %>
      <%= link_to  "logout", destroy_user_session_path, method: :delete %>
      <%= link_to  "edit profile", edit_user_registration_path %>
    
      <div>
        <% if current_user.provider == 'facebook' && current_user.email.include?('example') %>
          <p>Este es tu mail? Si no es asi, puedes cambiarlo aqui, de lo contrario no podremos informarte de nada</p>

          <%= form_with(model: current_user, url: user_registration_path, local: true) do |f| %>
            <%= f.email_field :email %>
            <%= f.submit  %>
          <% end %>

        <% end %>
      </div>

    <% else %>
      <%= link_to  "iniciar sesion", new_user_session_path %>
    <% end %>
  </nav>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
